


es.caib.sample.pluginsib.tipusdocumental.portafib.url=http://anadal:8080/portafibapi/interna/secure
es.caib.sample.pluginsib.tipusdocumental.portafib.username=app_username
es.caib.sample.pluginsib.tipusdocumental.portafib.password=app_password


language=es